extends layout

block content
  h1 Intelligent Security Robot Control Panel
  p Welcome to be here! 
  p Here is the surveillance platform for our Intelligent Security Robot.
  p The below is the things you can find here…
  p 1. List of registered person who are able to be recognized by Security Robot
  p 2. Daily log of person recognized by Security Robot
  p 3. Wheel control
